input,
select {
  width: 100%;
  box-sizing: border-box;
  background-color: #3d4961;
  border: solid 1px #232d3f;
  border-radius: 6px;
  padding: 0.2rem;
  color: white;
}

label {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    display: block;
    color: #b7b7b7;
}